[*.cs]

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = none

# IDE0300: Simplify collection initialization
dotnet_style_prefer_collection_expression = never
